* {
    background: #1C1C1C;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.logo {
    position: relative;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 28px;
    width: 148px;
    margin-right: 566px;
    margin-left: 566px;
}

.logo__img1 {
    width: 44px;
    height: 28px;
    margin-right: 10px;
}

.logo__img2 {
    width: 16px;
    height: 24px;
    margin-right: 3px;
}

.logo__img3 {
    width: 16px;
    height: 22px;
    left: 719px;
    top: 83px;
}

.logo__img4 {
    width: 44px;
    height: 28px;
    margin-left: 15px;
    left: 750px;
    top: 80px;
}

.search-box-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-radius: 2px;
    border-bottom: 2px solid #ffffff;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: end;
    padding-top: 30px;
    padding-left: 71px;
    padding-right: 63px;
    margin-top: 54px;
    margin-left: 274px;
    margin-right: 326px;
    width: 628px;
    height: 40px;
}


.search-box-form input {
    position: relative;
    outline: none;
    border: none;
    margin-right: 60%;
    margin-left: 50px;
    transition: width 200ms;
    width: 446px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.search-box-form input:focus {
    position: relative;
    margin-right: 80px;
    font-size: inherit;
    transition: width 200ms;
    width: 1180px;
    transform: translateX(-1px);
    height: 40px;
    border-radius: 2px;
    border-bottom: 2px solid #FDCE25;

}

.search-box-form__ellipse {
    position: absolute;
    border: 4px solid snow;
    width: 20px;
    height: 20px;
    color: #f2e8e8;
    background: #1C1C1C;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-right: 20px;
}

.search-box-form__vector {
    position: absolute;
    border: 4px solid snow;
    width: 0px;
    height: 3px;
    color: #f2e8e8;
    background: #f2e8e8;
    border-radius: 95%;
    transform: rotate(137deg);
    padding-top: 10px;
    margin-left: 24px;
    margin-top: 20px;
    margin-right: 14px;
}


.footer {
    flex: 0 0 auto;
    display: block;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
    margin-left: 568px;
    bottom: 0px;
    height: 15px;
    width: 144px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.4);
}


.search-box_active-more-history {
    display: flex;
    margin-top: 30px;
    gap: 8px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex-wrap: wrap;
    margin-right: 80px;

}

.search-box_active {
    display: flex;
    margin-top: 30px;
    gap: 8px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex-wrap: wrap;
    margin-right: 80px;
}



.search-box__block1 {
    display: flex;
    justify-content: center;
    width: 166px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.search-box__block2 {
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 66px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.search-box__block3 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 122px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-box__block4 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 207px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-box__block5 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 97px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-box__block6 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 168px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-box__block7 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 197px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-box__block8 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 131px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-box__block9 {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 197px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.results__title-results {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    width: 309px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 106px;
}

.results {
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.results__grid-container .results__box {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.24);
    box-sizing: border-box;
}

.results__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 302px);
    grid-template-rows: repeat(4, 454px);
    grid-gap: 24px;
}

.results__box-info{
    margin-left: 20px;
    margin-top: 362px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background: rgba(255, 255, 255, 0.0);
}

.results__box-genre {
    background: rgba(255, 255, 255, 0.0);
}

.results__box-date {
    background: rgba(255, 255, 255, 0.0);
}

.results__info-films {
    margin-left: 20px;
    margin-top: 330px;
    margin-bottom: 68px;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background: rgba(255, 255, 255, 0.0);
}

.results__box-name, .results__box-big-name{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    background: rgba(255, 255, 255, 0.00);
    color: rgba(255, 255, 255, 0.24);
}

.results__box-big-name{
    position: absolute;

    align-items: flex-end;


}

.results__box-meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: rgba(255, 255, 255, 0.00);
    color: rgba(255, 255, 255, 0.24);

}

.results__name-films {
    display: flex;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    width: 246px;
    height: 24px;
    align-items: flex-end;
}

.results__meta-films {
    display: flex;
    margin-top: 8px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    width: 156px;
    height: 24px;
    align-items: flex-end;
}

.results__box-informations{
    position: absolute;
}

.results__box-picture{
    position: absolute;
}
.result__box-rating {
    position: absolute;
    width: 62px;
    height: 38px;

    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    margin-left: 20px;
    margin-top: 280px;;

    display: flex;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.00);
    
}

.no-results {
    margin-top: 100px;
    box-sizing: border-box;
}

.search_not_found {
    width: 604px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF
}

.scroll__search-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 72px;
    background: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 2px;
    border-bottom: 2px solid #ffffff;
}

.close {
    position: absolute;
    right: 31px;
    top: 31px;
    width: 31px;
    height: 31px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}